body{
    background-color: hsl(263, 93%, 24%);
}

h1{
    text-align: center;
    font-size: 4em;
    color: hsl(350, 94%, 65%);
    text-shadow: 0px 0px 5px hsl(350, 94%, 65%);
}

.container{
    width: 600px;
    height: 280px;
    background-color:hsl(263, 96%, 29%);
    position: absolute;
    top: 35%;
    left: 31%;
    border: 1px solid;
    border-radius: 15px;
    box-shadow: 0px 5px 10px rgb(57, 3, 145);
}

.dropdown{
    width: 120px;
    height: 40px;
    margin-left: 120px;
    margin-top: 42px;
    border-radius: 10px;
    text-align: center;
    outline: none;
    font-weight: bold;
}

.exchange-title{
    font-size: 2em;
    color: hsl(139, 56%, 52%);
    text-shadow: 0px 0px 3px hsl(139, 56%, 52%);
    position: absolute;
    top: 40px;
    left: 20px;
}

.exchange-title-two{
    font-size: 2em;
    color: hsl(139, 56%, 52%);
    text-shadow: 0px 0px 3px hsl(139, 56%, 52%);
    position: absolute;
    top: 40px;
    left: 275px;
}

#amount-one{
    position:absolute;
    left: 410px;
    top: 42px;
    width: 150px;
    height: 30px;
    border-radius: 10px;
    outline: none;
    font-size: 1.3em;
    overflow: auto;
    overflow-y: hidden;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.exchange-title-three{
    font-size: 2em;
    color: hsl(139, 56%, 52%);
    text-shadow: 0px 0px 3px hsl(139, 56%, 52%);
    position: absolute;
    top: 120px;
    left: 38px;
}

.dropdown-two{
    width: 120px;
    height: 40px;
    margin-left: 120px;
    margin-top: 36px;
    border-radius: 10px;
    text-align: center;
    outline: none;
    font-weight: bold;
}

.currency-title{
    font-size: 2em;
    color: hsl(139, 56%, 52%);
    text-shadow: 0px 0px 3px hsl(139, 56%, 52%);
    position: absolute;
    top: 120px;
    left: 260px;
}

#amount-two{
    position:absolute;
    left: 410px;
    top: 122px;
    width: 150px;
    height: 30px;
    border-radius: 10px;
    background-color: white;
    border: 1px solid black;
    padding: 1px;
    text-align: center;
    font-size: 1.5em;
    overflow: auto;
    overflow-y: hidden;
    scrollbar-width: thin;
}

.convert{
    position: absolute;
    left: 10px;
    top: 220px;
    width: 580px;
    border-radius: 15px;
    padding: 4px;
    background-color: hsl(122, 53%, 53%);
    font-size: 1.5em;
    font-weight: bold;
    color: hsl(0, 5%, 89%);
    box-shadow: 0px 5px 10px hsl(263, 85%, 5%);
}

.convert:hover{
    background-color: hsl(122, 53%, 43%);
}
.convert:active{
    box-shadow: 0px 2px 5px hsl(261, 74%, 5%);
    transform: translateY(2px);
}

option{
    font-weight: bold;
}

#rate{
    color: white;
    font-size: 2em;
    font-weight: bold;
    position: absolute;
    top: 170px;
    left: 160px;
}